{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "shippedProposals": true,
      "targets": {
        "browsers": ["> 2%", "last 2 versions", "not ie <= 11"]
      }
    }]
  ],
  "plugins": ["transform-vue-jsx", "@babel/transform-runtime", "@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [
        "transform-vue-jsx",
        "istanbul"
      ]
    }
  }
}
